.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#add-ticker-form {
    margin-top: 30px;
}

#tickers-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#new-ticker {
    margin-top: 10px;
    margin-bottom: 10px;
}

.stock-box {
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    transition: background-color 0.5s;
    background: #eee;
}

.dark-red {
    color: #880000;
}

.red {
    color: #FF0000;
}

.gray {
    color: #808080;
}

.green {
    color: #008800;
}

.dark-green {
    color: #006600;
}

.stock-box {
    width: 200px;
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    color: black;
}

.red-flash {
    transition: background-color 1s;
    background-color: #ffcccc !important;
}

.green-flash {
    transition: background-color 1s;
    background-color: #ccffcc !important;
}

.remove-btn {
    background-color: #ffcccc;
}

.detail-button {
    margin-left: 10px;
    background-color: #ccffcc;
}

.gray-flash {
    transition: background-color 1s;
    background-color: #ccc !important;
}

.vertical-stack {
    display: block;
    width: 100%;
}

.btn-group-vertical {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-bottom: 5px;
}


#content_detail_ticker {
    display: flex;
    flex-direction: row;
    max-height: 600px;
    width: 100vw;
}

#ticker_detail {
    width: 12%;
}

#ticker_detail button {
    height: calc(100% / 6 - 10px);
    width: 100%;
}

#content_chart {
    width: 88%;
    margin-left: 25px;
    overflow: auto;
}

.head-detail-container {
    margin: 20px;
}

#ticker-head {
    font-size: 64px;
    font-weight: bold;
}

.head-detail-content {
    font-size: 24px;
}

.progress-bar {
    position: relative;
    box-sizing: border-box;
    width: 460px;
    height: 3em;
    background-color: #111;
    border-radius: 1.5em;
    color: white;

}

.progress-bar::before {
    box-sizing: border-box;
    content: attr(data-label);
	display: flex;
	align-items: center;
	position: absolute;
	left: .5em;
	top: .5em;
	bottom: .5em;
	width: calc(var(--width, 0) * 1%);
	min-width: 2rem;
	max-width: calc(100% - 1em);
	background-color: #069;
	border-radius: 1em;
	padding: 1em;
}