<!DOCTYPE html>
<html>
<head>
    <title>Ticker Detail - {{ ticker }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script_detail.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://127.0.0.1:5000/">Real-time Stock</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/TDKien20020200/RT_stock_info_in_Python">Link</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1>{{ ticker }}</h1>
    <div>
        <p>Current Price: ${{ current_price }}</p>
        <p>Open Price: ${{ open_price }}</p>
        <p>Volume: {{ volume }}</p>
    </div>

    

    <div id="content_detail_ticker">
        <form id="ticker_detail">
            <div class="vertical-stack" role="group" aria-label="Vertical button group">
                <div class="btn-group-vertical">
                    <button id="show_history_data_button" type="button" class="btn btn-primary">Show History</button>
                </div>
                <div class="btn-group-vertical">
                    <button id="show_chart_button" type="button" class="btn btn-primary">Overview Chart</button>
                </div>
                <div class="btn-group-vertical">
                    <button id="timely_chart_button" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Timely Chart</button>
                    <ul class="dropdown-menu" role="menu">
                        <li> <button id="show_daily_chart_button" type="button" class="btn btn-primary">Daily</button></li>
                        <li> <button id="show_weekly_chart_button" type="button" class="btn btn-primary">Weekly</button></li>
                        <li> <button id="show_monthly_chart_button" type="button" class="btn btn-primary">Monthly</button></li>
                    </ul>
                </div>
                <div class="btn-group-vertical">
                    <button id="ma_chart_button" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">MA Chart</button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">10days</a></li>
                        <li><a href="#">20days</a></li>
                        <li><a href="#">50days</a></li>
                    </ul>
                </div>
                <div class="btn-group-vertical">
                    <button id="prediction_button" type="button" class="btn btn-primary">Prediction</button>
                </div>
                <div class="btn-group-vertical">
                    <button id="next_10_days_button" type="button" class="btn btn-primary">The Next 10 Days</button>
                </div>
            </div>
        </form>
        <div id="content_chart">
            <div id="history-data" style="display: none;" >
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Close Price</th>
                            <th scope="col">Open Price</th>
                            <th scope="col">High Price</th>
                            <th scope="col">Low Price</th>
                            <th scope="col">Volume</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data_list %}
                            <tr>
                                <td>{{ item['Date'] }}</td>
                                <td>{{ item['Close'] }}</td>
                                <td>{{ item['Open'] }}</td>
                                <td>{{ item['High'] }}</td>
                                <td>{{ item['Low'] }}</td>
                                <td>{{ item['Volume'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div id="overview-chart-container" style="display: none;">
                <div id="overview-chart"></div>
            </div>

            <div id="daily-chart-container" style="display: none;">
                <div id="daily-chart">
                    <img id="daily-chart-image" src="Current/image/daily_chart.png" alt="Daily Chart">
                </div>
            </div>
        </div>
    </div>

    <div>
        <div>
            <img src="Current/image/daily_chart.png" alt="Daily Chart">
        </div>
    </div>    

    <script>
        var ticker = '{{ ticker }}';
        var historyDataShown = false;
        var overviewChartShown = false;
        var dailyChartShown = false;

        $('#show_history_data_button').click(function() {
            if (historyDataShown) {
                $('#history-data').hide();
                historyDataShown = false;
            } else {
                $('#history-data').show();
                historyDataShown = true;
            }
        });

        $('#show_chart_button').click(function() {
            if (overviewChartShown) {
                $('#overview-chart-container').hide();
                overviewChartShown = false;
            } else {
                $('#overview-chart-container').show();
                showChart();
                overviewChartShown = true;
            }
        });

        $('#show_daily_chart_button').click(function() {
            if (dailyChartShown) {
                $('#daily-chart-container').hide();
                dailyChartShown = false;
            } else {
                $('#daily-chart-container').show();
                openImage('Current/image/daily_chart.png')
                dailyChartShown = true;
            }
        });

        function openImage(url) {
          document.getElementById("daily-chart-image").src = url;
          document.getElementById("daily-chart-container").style.display = "block";
        }

        function showChart() {
            var candlestickTrace = {
                x: {{ chart_data['x'] | tojson }},
                open: {{ chart_data['open'] | tojson }},
                high: {{ chart_data['high'] | tojson }},
                low: {{ chart_data['low'] | tojson }},
                close: {{ chart_data['close'] | tojson }},
                name: 'Candlestick',
                type: 'candlestick'
            };
            var layout = {
                title: 'Candlestick Chart',
                xaxis: {
                    title: 'Date'
                },
                yaxis: {
                    title: 'Price',
                    rangemode: 'normal'
                }
            };
            var data = [candlestickTrace];
            Plotly.newPlot('overview-chart', data, layout);
        }
        

        doSomethingWithTicker(ticker);
    </script>
</body>
</html>